
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<div id="ShowCase">
  <h2>המוצרים החמים</h2>
</div>

<!-- <img src="milki.jpg" alt="Oops">
<img src="milki.jpg" alt="" />
<img src="milki.jpg" alt="milki" width="470" height="274">


-->

<!--<img src="D:\IgorProject\IgorProject\Client\Website\src\img\milki.jpg" style="height:30px">-->
<!--<img src="D:\IgorProject\IgorProject\Client\Website\src\img\milki.jpg" alt="milki" width="470" height="274"> -->



<div id="msgContainer">
  <div id="msgName">שם המוצר:</div>
  <div id="msgText">מידע לצרכן:</div>
  <div id="msgPrice">מחיר:</div>
  <div id="msgPictures"></div>
  <div id="msgTemplate"></div>
</div>
