


<div class="container" *ngIf="checkManager()">
  <form id="contact" name="form" (ngSubmit)="f.form.valid && onSubmit(f,$event)" #f="ngForm" novalidate>
    <h3>הוספת מוצר חדש</h3>
    <h4>פרטים בסיסיים</h4>
    <fieldset class="row">
        <input placeholder="שם מוצר..." tabindex="1" name="name" type="text" [(ngModel)]="product.name" #name="ngModel" required />
    </fieldset>

    <fieldset class="row">
      <input placeholder="מחיר המוצר..." type="number" tabindex="2"   name="price" [(ngModel)]="product.price" #price="ngModel" required />
    </fieldset>

    <fieldset class="row">
      <input placeholder="קלוריות..." type="number" tabindex="3"name="calories" [(ngModel)]="product.calories" #calories="ngModel" required/>
    </fieldset>

    <fieldset class="row">
      <input placeholder="מדינת יצור..." type="text" tabindex="4" name="createCountry" [(ngModel)]="product.createCountry" #createCountry="ngModel" required />
    </fieldset>

    <fieldset class="row">
      <input placeholder="ייצרן..." type="text" tabindex="5" name="company"  [(ngModel)]="product.company" #company="ngModel" required />
    </fieldset>

    <div class="form-group">
      <div>קטגוריה: </div>
      <div>
        <select (change)="selectItem($event.target.value)" class="form-control">
          <option *ngFor="let currCategory of categories" [selected]="currCategory.id == currentCategory" value={{currCategory.id}}>{{currCategory.name}}</option>
        </select>
      </div>
    </div>
    <fieldset style="margin-top:5%">
      <!--
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">שלח :)</button>
          -->
      <button  style="margin-top:5%" class="button-style" [disabled]="!f.valid || currentCategory == 0"  *ngIf="this.product.id == 0" (click)="actionCodeToAdd()">הוספת מוצר</button>
      <button  style="margin-top:5%" class="button-style" [disabled]="!f.valid"  *ngIf="this.product.id != 0" (click)="actionCodeToUpdate()">עדכן מוצר</button>
      <button  style="margin-top:5%" class="button-style" *ngIf="this.product.id != 0" (click)="actionCodeToDelete()">מחיקת מוצר</button>

    </fieldset>
  </form>
</div>

<div *ngIf="!checkManager()">
  <h1>אין לך הרשאות להגיע לדף זה </h1>
</div>
