
<div *ngIf="!userName()">
  <div class="col-md-3 col-md-offset-1">
    <form (ngSubmit)="onSubmit(f,$event)" #f="ngForm">
      <h1>התחברות לאתר</h1>
      <div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="משתמש:" name="userName" [(ngModel)]="model.userName" #userName="ngModel" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="ססמא:" name="password" [(ngModel)]="model.password" #password="ngModel" />
        </div>
      </div>
      <div>
        <button type="submit" ngSu class="btn btn-primary">היכנס</button>
      </div>
      <div [hidden]="!errorConnecting">שם משתמש או ססמא לא נכונים !</div>
      <div>{{isCurrentDetails}}</div>
    </form>
  </div>
</div>
