
<div class="container" *ngIf="!userName()">
  <form id="contact" name="form" (ngSubmit)="f.form.valid && onSubmit(f,$event)" #f="ngForm" novalidate>
    <h3>הרשמה לאתר</h3>
    <h4>פרטים בסיסיים</h4>
    <fieldset>
      <input placeholder="שם פרטי" type="text" tabindex="1" required autofocus name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
    </fieldset>
    <fieldset>
      <input placeholder="שם משפחה" type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="שם משתמש" type="text" name="userName" [(ngModel)]="model.userName" #userName="ngModel"tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="אימייל" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" tabindex="4" required>
    </fieldset>
     <fieldset>
        <select name="gender" [(ngModel)]="model.gender" #gender="ngModel" class="form-control">
          <option value="1" selected>זכר</option>
          <option value="2">נקבה</option>
        </select>
      </fieldset>
    <fieldset>
      <input placeholder="סיסמא" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" tabindex="5" required>
    </fieldset>
    <fieldset>
      <input placeholder="חזור על הסיסמא" type="password" name="repeatPassword" [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel" tabindex="6" required>
    </fieldset>
    <fieldset>
      <button class="button-style" [disabled]="!f.valid" type="submit">שלח :)</button>

    </fieldset>
  </form>
</div>

<div class="container" *ngIf="userName()">
  <h1>הינך מחובר כבר לאתר</h1>
</div>


