{{messageSocket}}

  <section>
      <div id="main">
          <div id="main-left">
              <article>
                  <header><h1>ברוך הבא לאתר המוצרים</h1></header>
      
                  <p>כאן תוכל למוצא מידע אודות המוצרים השונים</p>
      
              </article>
          </div>
      
          <div id="main-right">
              <section id="main-right-hot">
                  <h2>המוצרים החמים</h2>
                  <ul>
                      <li>תפוחים בזיל הזול !!!</li>
                      <li>כל סוג הבשרים !!!!</li>
                      <li>ועוד ...</li>
                  </ul>
              </section>  
          </div>
      </div>

    <aside>
      <h4>כאן תוכל להינות ממגוון דברים</h4>
    </aside>
     
      <footer>
        <h5>המון המון מוצרים חדשים</h5>
          <ul>
              <li>אוכל</li>
              <li>שתייה מתוקה</li>
          </ul>
      </footer>
</section>
