
<div class="col-md-11 col-md-offset-1 row">
  <h2 style="text-shadow: 2px 2px #FF0000;">
    <p>
      ברוך הבא לאתר המוצרים והסלים
      באתר הנל תוכל למצוא מגוון מאוד
    </p>
    <p>
      רחב של מוצרים וכמו כן לבנות סל
      בהתאם לצרכים שלך
    </p>
  </h2>
</div>

<video width="600" autoplay muted loop #supermarketVideo>
  <source src="/assets/videos/supermarket1.mp4" type="video/mp4">
  <source src="/assets/videos/supermarket1.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>


<div *ngIf="!userName()" class="row">
  <div class="col-md-2">
    <div (click)="loginView()" class="box"><h2>התחבר לאתר</h2>   </div>
  </div>
  <div class="col-md-2">
    <div (click)="registerView()" class="box"><h2>הירשם לאתר</h2>   </div>
  </div>
</div>

<div *ngIf="userName()" class="row">
  <div class="col-md-2">
    <div (click)="addProductView()" class="box"><h2>הוספת מוצר</h2>   </div>
  </div>
</div>
