



<div *ngIf="userName()">
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
    <button (click)="w3_close()" class="w3-bar-item w3-large">סגור תפריט&times;</button>
    <div class="w3-bar-item w3-button" (click)="setMainPage()">דף ראשי</div>
    <div class="w3-bar-item w3-button" (click)="addProductView()">הוספת מוצר</div>
    <div class="w3-bar-item w3-button" (click)="productListView()">רשימת מוצרים</div>
    <div class="w3-bar-item w3-button" (click)="basketView()">הסל שלי</div>
    <div class="w3-bar-item w3-button" (click)="logOff()">התנתקות</div>
  </div>
</div>


  <!-- Page Content -->
  <div class="w3-teal">
    <button class="w3-button w3-teal w3-xlarge" (click)="w3_open()">☰</button>
  </div>

  <div *ngIf="!userName()">
    <nav>
      <a routerLink="/login" routerLinkActive="active">התחבר</a>
      <a routerLink="/register" routerLinkActive="active">הירשם</a>
    </nav>
  </div>

  <div *ngIf="userName()" style="text-shadow: 2px 2px #c73514;">
    <h3> ברוך הבא {{userName()}} </h3>  
  </div>


<div *ngIf="router.url === '/'" >
  <div class="col-md-11 col-md-offset-1 row">
    <h2 style="text-shadow: 2px 2px #FF0000;">
      <p>
        ברוך הבא לאתר המוצרים והסלים
        באתר הנל תוכל למצוא מגוון מאוד
      </p>
      <p>
        רחב של מוצרים וכמו כן לבנות סל
        בהתאם לצרכים שלך
      </p>
    </h2>
    </div>
  <div *ngIf="!userName()">
  <div class="col-md-2 col-md-offset-1 row">
    <div (click)="loginView()" class="box"><h2>התחבר לאתר</h2>   </div>
  </div>
  <div class="col-md-2">
    <div (click)="registerView()" class="box"><h2>הירשם לאתר</h2>   </div>
  </div>
  </div>

  <div *ngIf="userName()">
    <!--
    <div class="col-md-2  col-md-offset-1" style="margin-top:10px">
      <form name="form" #f="ngForm">
        <div class="form-group">
          <input type="number" class="form-control" placeholder="הקש מוצר" name="a" [(ngModel)]="productId" #a="ngModel" />
        </div>
      </form>
    </div>
    -->
    <div class="col-md-2">
      <div class="box">
      <h2>היסטוריית מחירים על מוצר</h2>
        <div style="margin:10px 10px 10px 10px">
          <form name="form" #f="ngForm">
            <div class="form-group">
              <input type="number" class="form-control" placeholder="הקש מוצר" name="a" [(ngModel)]="productId" #a="ngModel" />
            </div>
          </form>
        </div>
        <button class="btn btn-primary" (click)="HistoryOneView()">לחץ</button>

      </div>

    </div>

    <div class="col-md-2 row">
      <div (click)="addProductView()" class="box"><h2>הוספת מוצר</h2>   </div>
    </div>
    <div class="col-md-2">
      <div (click)="productListView()" class="box"><h2>רשימת מוצרים</h2>   </div>
    </div>

    <div class="col-md-2">
      <div (click)="basketView()" class="box"><h2>הסל שלי</h2>   </div>
    </div>

    <div class="col-md-2">
      <div (click)="barChart()" class="box"><h2>הצגת גרף מחירים ומוצרים</h2>   </div>
    </div>
  </div>
</div>

