<!--<div class="products card-deck" *ngFor="let oneProductsGroup of productsGroups">
  <div class="card" *ngFor="let product of oneProductsGroup">
    <div class="d-flex justify-content-between align-middle">
      <div></div>
      <div class="align-self-center">
        <i class="fas fa-plus-circle"></i>
        <input type="text" class="form-control" style="width: 30px; height: 30px; display: inline-block;">
        <i class="fas fa-minus-circle"></i>
      </div>
      <div class="align-self-center">
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
    <div>
    </div>
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>-->
<!--<div class="products row justify-content-center">
  <div class="col-auto mb-3" *ngFor="let product of products">
    <div class="card" style="min-width: 18rem; max-width: 18rem;">
      <div class="d-flex justify-content-between align-middle">
        <div></div>
        <div class="align-self-center">
          <i class="fas fa-plus-circle"></i>
          <input type="text" class="form-control" style="width: 30px; height: 30px; display: inline-block;">
          <i class="fas fa-minus-circle"></i>
        </div>
        <div class="align-self-center">
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
      <div>
      </div>
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="products row justify-content-center">
  <div class="col-sm-3 py-2" *ngFor="let product of products; let i = index">
    <div class="product card" (mouseenter)="enterCard(i)" (mouseleave)="leaveCard(i)">
      <div class="d-flex justify-content-between align-middle" [ngClass]="i == hoverIndex ? 'showControls' : 'hideControls'">
        <div>
          <button type="button" class="btn btn-link" (click)="showDetails(product.id)">
            <i class="fas fa-wrench"></i>
          </button>
        </div>
        <div class="align-self-center">
          <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)"><i class="fas fa-plus-circle"></i></button>
          <input type="text" #amountInput [value]="getItemAmount(product.id)" (input)="setItemAmount(product.id, $event)" class="form-control item-amount-input">
          <button type="button" class="btn btn-link" (click)="removeFromBasket(product.id, amountInput)"><i class="fas fa-minus-circle"></i></button>
        </div>
        <div class="align-self-center">
          <button type="button" class="btn btn-link" (click)="deleteFromBasket(product, 0)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          {{product.name}}
        </h5>
        <p class="card-text">
          {{product.id}}
          {{product.price}}
          {{product.category}}
          {{product.calories}}
          {{product.createCountry}}
          {{product.company}}
          <button class="btn btn-primary" (click)="showDetails(product.id)">פרטים נוספים</button>
        </p>
      </div>
    </div>
  </div>
</div>-->

<div class="products row justify-content-center">
  <div class="col-sm-3 py-2" *ngFor="let product of productsByCategory; let i = index">
    <div class="product card" (mouseenter)="enterCard(i)" (mouseleave)="leaveCard(i)">
      <div class="d-flex justify-content-between align-middle" *ngIf="getItemAmount(product.id) === 0" [ngClass]="i == hoverIndex ? 'showControl' : 'hideControl'">
        <div>
          <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)"><i class="fas fa-plus-circle"></i></button>
        </div>
      </div>
      <div class="d-flex justify-content-between align-middle" *ngIf="getItemAmount(product.id) !== 0">
        <div>
          <button type="button" class="btn btn-link" (click)="addToBasket(product, amountInput)"><i class="fas fa-plus-circle"></i></button>
          <input type="text" #amountInput [value]="getItemAmount(product.id)" (input)="setItemAmount(product, $event)" class="form-control item-amount-input">
          <button type="button" class="btn btn-link" (click)="removeFromBasket(product.id, amountInput)"><i class="fas fa-minus-circle"></i></button>
        </div>
        <!--<div class="align-self-center">

        </div>-->
        <div class="align-self-center">
          <button type="button" class="btn btn-link" (click)="updateOrDelete(product.id)">
            <i class="fas fa-wrench"></i>
          </button>
          <button type="button" class="btn btn-link" (click)="deleteFromBasket(product, 0)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <img class="card-img-top" [src]="getProdutImage(product.id)" onError="this.src='assets/img/product/placeholder.png';"  alt="Card image cap">
      <div class="card-body" style="padding-top: 0px;">
        <h5 class="card-title">
          {{product.name}}
        </h5>
        <div class="card-text">
          <ul class="feature-list">
            <li>
              <span class="feature-title">ספק/יצרן:</span> {{product.company}}
            </li>
            <li>
              <span class="feature-title">ארץ ייצור:</span> {{product.createCountry}}
            </li>
            <li>
              <span class="feature-title">קלוריות:</span> {{product.calories}} קל'
            </li>
            <li>
              <span class="feature-title">מחיר:</span> {{product.price}} ₪
            </li>
          </ul>
          <button class="btn btn-primary float-right" (click)="showDetails(product.id)">פרטים נוספים</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="userName()">
  <!--

  <div *ngFor="let currProduct of productPaging | category:currCategory | name:name">
    <div class="form-group">
      <label for="nameProductLabel">מזהה מוצר: </label>
      <label for="nameProductValue">{{currProduct.id}}</label>
    </div>

    <div class="form-group">
      <label for="nameProductLabel">שם המוצר: </label>
      <label for="nameProductValue">{{currProduct.name}}</label>
    </div>

    <div class="form-group">
      <label for="priceLabel">מחיר: </label>
      <label for="priceValue">{{currProduct.price}}</label>
    </div>

    <div class="form-group">
      <label for="categoryLabel">קטגוריה: </label>
      <label for="categoryValue">{{currProduct.category}}</label>
    </div>

    <div class="form-group">
      <label for="caloriesLabel">קלוריות: </label>
      <label for="caloriesValue">{{currProduct.calories}}</label>
    </div>

    <div class="form-group">
      <label for="countryLabel">מדינת יצור: </label>
      <label for="countryValue">{{currProduct.createCountry}}</label>
    </div>

    <div class="form-group">
      <label for="companyLabel">יצרן: </label>
      <label for="companyValue">{{currProduct.company}}</label>
    </div>

    <button class="btn btn-primary" (click)="showDetails(currProduct.id)">הצג פרטים</button>
    ------------------------------------------------------------------------------------
  </div>-->
  <!--
  <app-pagination (goPage)="goToPage($event)"
                  (goPrev)="onPrev()"
                  [pagesToShow]="5000"
                  [page]="page"
                  [count]="total"
                  [perPage]="limit"
                  (goNext)="onNext()">


  </app-pagination>-->
</div>

