<div class="col-md-4 col-md-offset-1" *ngIf="productDetails">
  <h2>פריטים בסיסיים עבור מוצר</h2>
  <form name="form" #f="ngForm" novalidate >
    <div class="form-group">
      <label for="nameProductLabel">שם המוצר: </label>
      <label for="nameProductValue">{{productDetails.name}}</label>
    </div>

    <div class="form-group">
      <label for="priceLabel">מחיר: </label>
      <label for="priceValue">{{productDetails.price}}</label>
    </div>

    <div class="form-group">
      <label for="categoryLabel">קטגוריה: </label>
      <label for="categoryValue">{{productDetails.category}}</label>
    </div>

    <div class="form-group">
      <label for="caloriesLabel">קלוריות: </label>
      <label for="caloriesValue">{{productDetails.calories}}</label>
    </div>

    <div class="form-group">
      <label for="countryLabel">מדינת יצור: </label>
      <label for="countryValue">{{productDetails.createCountry}}</label>
    </div>

    <div class="form-group">
      <label for="companyLabel">יצרן: </label>
      <label for="companyValue">{{productDetails.company}}</label>
    </div>

  </form>
</div>
